page-payment {
	.button-pay{
		height:80px;
		background-color:#5D5D5E;
	}

	.button-pay button{
		height:70px;
	}

	.payment-label{
	  	font-size:16px;
	}

	.payment-ops{
		margin:25px 0px;
		padding-top: 20px;
		box-shadow: 0 0 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 0 1px -2px rgba(0,0,0,.2);
	}





}
