<ion-header>
	<ion-navbar >	
	    <ion-title text-center>Tops</ion-title>
	    <ion-buttons right>
	      <button ion-button  [navPush]="pushCart" >
	        <ion-icon name="cart" class="cart-icon"></ion-icon>
	        <ion-badge *ngIf="badge">{{cartItem}}</ion-badge>
	      </button>
	    </ion-buttons>
	</ion-navbar>
  
  <ion-toolbar >
		<ion-segment [(ngModel)]="cat" >
		    <ion-segment-button value="men" color="app">
		      Men
		    </ion-segment-button>
		    <ion-segment-button value="women" colo="app">
		      Women
		    </ion-segment-button>
	    </ion-segment>
    </ion-toolbar>
</ion-header>
    
 
<ion-content>
    
    <div [ngSwitch]="cat">
      <!-- MEN -->
	    <ion-list *ngSwitchCase="'men'">
	        <ion-segment [(ngModel)]="style" >
			    <ion-segment-button value="polo" color="app">
			      Polo Shirts
			    </ion-segment-button>
			    <ion-segment-button value="shirt" colo="app">
			      T Shirts
			    </ion-segment-button>
			    <ion-segment-button value="sweater" colo="app">
			      Sweaters
			    </ion-segment-button>
		    </ion-segment>
		    <div [ngSwitch]="style"> 
		        <div *ngSwitchCase="'polo'">
		      		<ion-grid>
			            <ion-row>
			              <ion-col class="product-col" col-6 *ngFor="let item of filterItemsOfType('polo','topM')" 
			              (click)="productPage(item)">
			                <img [src]="item.image">
			                 <h5 class="product-description">{{item.title}}</h5>
                			 <h4 class="product-price">Php {{item.price.toFixed(2)}}</h4>
			              </ion-col>
			            </ion-row>
		        	</ion-grid>
		        </div>
		        <div *ngSwitchCase="'shirt'">
		      		<ion-grid>
			            <ion-row>
			              <ion-col class="product-col" col-6 *ngFor="let item of filterItemsOfType('shirt','topM')" 
			              (click)="productPage(item)">
			                <img [src]="item.image">
			                 <h5 class="product-description">{{item.title}}</h5>
                			 <h4 class="product-price">Php {{item.price.toFixed(2)}}</h4>
			              </ion-col>
			            </ion-row>
		        	</ion-grid>
		        </div>
		        <div *ngSwitchCase="'sweater'">
		      		<ion-grid>
			            <ion-row>
			              <ion-col class="product-col" col-6 *ngFor="let item of filterItemsOfType('sweater','topM')" 
			              (click)="productPage(item)">
			                <img [src]="item.image">
			                 <h5 class="product-description">{{item.title}}</h5>
                			 <h4 class="product-price">Php {{item.price.toFixed(2)}}</h4>
			              </ion-col>
			            </ion-row>
		        	</ion-grid>
		        </div>
		    </div>
	    </ion-list>
	    
	    
        <!-- WOMEN -->
	    <ion-list *ngSwitchCase="'women'">
	       <ion-segment [(ngModel)]="style">
			    <ion-segment-button value="polo" color="app">
			      Polo Shirts
			    </ion-segment-button>
			    <ion-segment-button value="shirt" colo="app">
			      T Shirts
			    </ion-segment-button>
			    <ion-segment-button value="sweater" colo="app">
			      Sweaters/Cardeigan
			    </ion-segment-button>
		    </ion-segment>
		    <div [ngSwitch]="style"> 
		        <div *ngSwitchCase="'polo'">
		      		<ion-grid>
			            <ion-row>
			              <ion-col class="product-col" col-6 *ngFor="let item of filterItemsOfType('polo','topW')" 
			              (click)="productPage(item)">
			                <img [src]="item.image">
			                 <h5 class="product-description">{{item.title}}</h5>
                			 <h4 class="product-price">Php {{item.price.toFixed(2)}}</h4>
			              </ion-col>
			            </ion-row>
		        	</ion-grid>
		        </div>
		        <div *ngSwitchCase="'shirt'">
		      		<ion-grid>
			            <ion-row>
			              <ion-col class="product-col" col-6 *ngFor="let item of filterItemsOfType('shirt','topW')" 
			              (click)="productPage(item)">
			                <img [src]="item.image">
			                 <h5 class="product-description">{{item.title}}</h5>
                			 <h4 class="product-price">Php {{item.price.toFixed(2)}}</h4>
			              </ion-col>
			            </ion-row>
		        	</ion-grid>
		        </div>
		        <div *ngSwitchCase="'sweater'">
		      		<ion-grid>
			            <ion-row>
			              <ion-col class="product-col" col-6 *ngFor="let item of filterItemsOfType('sweater','topW')" 
			              (click)="productPage(item)">
			                <img [src]="item.image">
			                 <h5 class="product-description">{{item.title}}</h5>
                			 <h4 class="product-price">Php {{item.price.toFixed(2)}}</h4>
			              </ion-col>
			            </ion-row>
		        	</ion-grid>
		        </div>
		    </div>
	    </ion-list>
    </div>
</ion-content>