page-write {
	.single-price{
 		color: #FF6500;
 	}
 	.single-desc{
 		color:  #FF6500;
 	}
 	.error-review{
			margin-left: 15px;
	}
	p {
		font-size: 0.9em;
		color: #ea6153;
	}

	ul {
	  padding: 0px;

	  &.rating li {
	    padding: 5px 10px !important;
	    background: none;
	    color: #ffb400;

	    ion-icon {
	      font-size: 30px;
	    }
	  }
	}
}
